$branco: #FFF;
$preto-transparent-70: rgba(0, 0, 0, 0.7);
$preto-transparent-30: rgba(0, 0, 0, 0.3);
$preto-transparent-20: rgba(0, 0, 0, 0.2);
$preto-transparent-03: rgba(0, 0, 0, 0.03);

$cor-primaria: #37AB00;
$cor-fundo: #FBFEF4;
$cor-fundo2: $branco;
